<div class="welcome">
        <div *ngIf="_carts.openCart?.id">
            <p>You have open cart</p>
            <p>From date: {{_carts.openCart.create_date | date: 'dd/MM/yyyy'}}</p>
            <p>Total price: {{_carts.totalCartPrice || 0}} $</p>
            <button (click)="continueShopping()">Continue shopping</button>
        </div>
        <div *ngIf="_orders.lastOrder?.id  && !_carts.openCart?.id">
            <p>Your last order:</p>
            <p>From: {{_orders.lastOrder.closing_date | date: 'dd/MM/yyyy HH:mm'}}</p>
            <p>Total price: {{_orders.lastOrder.order_total_price || 0}} $</p>
            <button (click)="startShopping()">Start shopping</button>
        </div>
        <div *ngIf="!_carts.openCart?.id && !_orders.lastOrder?.id">
            <p>Welcome to Puppy Shop</p>
            <button (click)="startShopping()">Start shopping</button>
        </div>

</div>
