<div class="products">
    <nav>
        <mat-form-field appearance="outline" class="search">
            <mat-label>Search</mat-label>
            <input matInput type="search" placeholder="Enter product name"
                (input)="searchForProduct($event.target.value)" />
            <span class="material-icons" matSuffix>
                search
            </span>
        </mat-form-field>
        <button mat-button *ngFor="let category of _products.productsCategoriesArr" (click)="getCategoryItems(category.id)" routerLinkActive="activebutton" routerLink="/main/{{roleName}}">{{category.name}}</button>
    </nav>

    <div class="productList" *ngIf="!emptySearchError">
        <app-product-item *ngFor="let product of _products.productsItemsFilteredArr" [product]="product">
        </app-product-item>
    </div>
    <div class="emptyProduct" *ngIf="emptySearchError">
            <h3>
                We haven't got product that matching your search
            </h3>
            <h4>
                Try something else
            </h4>
    </div>
</div>
