.products{
    display: flex;
    flex-direction: column;
}

.mat-toolbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(241, 234, 128);
    margin: 0%;
    padding: 0%;
}

mat-toolbar-row{
    margin: 0%;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep span > .material-icons { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(241, 234, 128);
    margin:2%
}

.productList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

app-product-item{
    width: 25%;
    height: 40%;
    margin-top: 2%;
    margin-left: 1%;

}