.products{
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(241, 234, 128);
    margin: 0%;
    padding: 0%;
    height: 10vh;
}

.search{
    margin-top: 1%;
    height: 75%;
    padding-left: 4%;
    width: auto;
    background-color: rgb(241, 234, 128);
    display: flex;
    justify-content: center;
}

a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(241, 234, 128);
    margin:2%
}

.productList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

app-product-item{
    width: 25%;
    height: 40%;
    margin-top: 2%;
    margin-left: 1%;

}


.emptyProduct{
    margin-top: 10%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

h3, h4{
    font-size: x-large;
    font-weight: bold;
    color: rgb(235, 55, 23);
}

p, a, button{
    font-size: large;
    text-align: center;

}

.example-container {
    position: absolute;
    top: 13vh;    
    left: 0;
    right: 0;
    margin: 0%;
    padding: 0%;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%; 
    margin: 0;
    padding: 0;  
  }

  app-cart{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

mat-icon{
    font-size: 35px;
}

.productList{
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
}

app-product-item{
    margin: 1%;
    width: 15vw;
    max-width: 300px;
}
  