<div class="products">

    <mat-toolbar>
        <mat-toolbar-row>
            <a mat-flat-button (click)="allProducts()">All</a>
            <a mat-flat-button *ngFor="let category of _products.productsCategoriesArr"
                (click)="getCategoryItems(category.id)">{{category.name}}</a>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input
                    matInput
                    type="search"
                    [(ngModel)]="searchINP"
                    placeholder="Enter product name"  
                    (ngModelChange)="searchForProduct($event)" 
                    [ngModelOptions]="{standalone: true}"
                />
                <span class="material-icons" matSuffix>
                    search
                    </span>
            </mat-form-field>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="productList" *ngIf="!emptySearch">
        <app-product-item *ngFor="let product of _products.productsItemsFilteredArr" [product]="product"></app-product-item>
    </div>
    <div class="emptyProduct" *ngIf="emptySearch">
        <h3>
            We haven't got product that matching your search
        </h3>
        <h4>
            Try something else
        </h4>
    </div>
</div>
