<mat-sidenav-container>
    <!-- cart / admin form section -->
    <mat-sidenav #sidenav mode="side" opened [fixedInViewport]="options.value.fixed"
        (openedChange)="onOpenedChange($event)">
        <div class="main" [ngSwitch]="_user.activeComponent">
            <app-product-form *ngSwitchCase="'admin'"></app-product-form>
            <app-cart *ngSwitchDefault></app-cart>
        </div>
    </mat-sidenav>

    <!-- product section -->
    <mat-sidenav-content [formGroup]="options">
        <nav>
            <!-- toggle open/close cart in user page -->
            <p *ngIf='_user.user.role === 2'><button mat-button
                    (click)="sidenav.toggle(); cartViewStatus=!cartViewStatus;">
                    <div class="cartToggle">
                        <p class="numberCartItems" *ngIf='cartViewStatus && _carts.cartItemsArr.length > 0 '>
                            {{_carts.cartItemsArr.length}}</p>
                        <mat-icon *ngIf='!cartViewStatus'>keyboard_arrow_left</mat-icon>
                        <mat-icon>shopping_cart</mat-icon>
                        <mat-icon *ngIf='cartViewStatus'>keyboard_arrow_right</mat-icon>
                        <p class="numberCartItems" *ngIf='!cartViewStatus && _carts.cartItemsArr.length > 0'>
                            {{_carts.cartItemsArr.length}}</p>
                    </div>
                </button>
            </p>
            <!-- toggle open/close form admin page -->

            <p *ngIf='_user.user.role === 1'><button mat-button
                    (click)="sidenav.toggle(); cartViewStatus=!cartViewStatus;">
                    <div class="adminToggle">
                        <mat-icon *ngIf='cartViewStatus'>add</mat-icon>
                        <mat-icon *ngIf='!cartViewStatus' height="10vh">close</mat-icon>
                    </div>
                </button>
            </p>
            <!-- search filed -->
            <mat-form-field appearance="outline" class="search" *ngIf="!isMobile || (isMobile && !navbarStatus)">
                <mat-label>Search</mat-label>
                <input matInput type="search" placeholder="Enter product name"
                    (input)="searchForProduct($event.target.value)" />
                <span class="material-icons" matSuffix>
                    search
                </span>
            </mat-form-field>
            <!-- categories section -->
            <div class="screenSizeDesktopCat" *ngIf="!isMobile">
                <button mat-button *ngFor="let category of _products.productsCategoriesArr" id="btn{{category.id}}"
                    (click)="getCategoryItems(category.id)">{{category.name}}</button>
            </div>

            <mat-form-field appearance="outline" class="screenSizeMobileCat" *ngIf="isMobile && !navbarStatus">
                <mat-label>Categories</mat-label>
                <mat-select [ngModel]="this.categoryChosen" (ngModelChange)="getCategoryItems($event)"
                    [ngModelOptions]="{standalone: true}" required>
                    <mat-option *ngFor="let category of _products.productsCategoriesArr" [value]='category.id'>
                        {{category.name}}</mat-option>
                </mat-select>
            </mat-form-field>

        </nav>

        <!-- product section -->
        <div class="productList" *ngIf="!emptySearchError && ((isMobile && !navbarStatus) || (!isMobile))">
            <app-product-item *ngFor="let product of _products.productsItemsFilteredArr" [product]="product">
            </app-product-item>
        </div>
        <div class="emptyProduct" *ngIf="emptySearchError && ((isMobile && !navbarStatus) || (!isMobile))">
            <h3>
                We haven't got product that matching your search
            </h3>
            <h4>
                Try something else
            </h4>
        </div>

    </mat-sidenav-content>

</mat-sidenav-container>
