<div class="about">
    <div class="banner">

    </div>
    <div class="aboutUs">
        <h2>The Best for You and Your Puppy</h2>
        <p>PuppyShop offers a full range of pet supplies for you and your puppy. With expertise in pet food and pet accessories, you can expect top brands and quality products at amazing low prices.</p>
        <p>It is our goal to make your life easier with simple online ordering and convenient home delivery. We work hard to make sure your parcel is on its way to you as quickly as possible. With the best technology and a dedicated staff, your parcel is carefully packed and double checked for quality.</p>
        <p>We've been making pets and their owners happy - almost a year now. After all, our customers love their pets!</p>
        <p>We never share your personal data with advertisers or other third parties. Your data is used for one thing only: processing your order.</p>
        <p>If you have any questions, our customer service department is always happy to help!</p>
    </div>
</div>
