
.left{
    height: 100%;
    min-height: 90px;
    max-height: 120px;
    width: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1%;
    min-width: 300px; 
    margin-top: 1%;  
}

.logoIMG{
    height: 12vh;
    min-height: 70px;
    max-height: 110px;
    min-width: 70px;
    max-width: 110px;
    width: 12vw;
    background: url('../../../public/clipart385031.png');
    background-repeat: no-repeat;
    background-size: 100px 100px;
    margin-bottom: 3%;
}

.title{
    height: 10vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;  
}

.shopName{
    font-size: xxx-large;
    font-weight: 600;
}

.welcome{
    margin-top: 4%;
    font-size: x-large;
    font-weight: 500; 
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
     
}
.contactUS{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 1%;
      
}

h4{
    font-size: x-large;
    font-weight: 400;
}

p, button{
    font-size: large;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

span{
    font-weight: 500;
}

