
<mat-card >
  <mat-card-header>
    <mat-card-title [innerHTML]="item.name | highlightSearch: _carts.Search"></mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-card-actions *ngIf="!_carts.cartStatus">
      <p>Quantity:</p>
      <div class="action">
        <button mat-button (click)="increase()">+</button>
        <p>{{item.product_amount}}</p>
        <button mat-button (click)="decrease()">-</button>
      </div>
      <button mat-stroked-button color="warn" (click)="editItemAmount()" [disabled]="!updateBTN">Update</button>
    </mat-card-actions>
    <p *ngIf="_carts.cartStatus">Quantity: {{item.product_amount}}</p>

    <p>Price: {{item.product_total_price}}$</p>
  </mat-card-content>
  <img mat-card-image src="{{item.image}}" alt="{{item.name}}">
  <mat-card-actions>
    <button mat-button (click)="deleteItem()">X</button>
  </mat-card-actions>
</mat-card>
