mat-card{
    height: 28vh;
    width: 100%;
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img.mat-card-image{
    height: 40%;
    width: 75%;
  
}
mat-card-actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    text-align: center;
    font-size: larger;
    font-weight: 500;
}