app-header{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0%;
    padding: 0%;
    background-color: rgba(245, 190, 118, 0.774);
    position: sticky;
    
}

app-main app-order app-welcome{
    width: 100vw;
    position: absolute;
    top: 15vh;
    left: 0;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

