<form [formGroup]="orderForm" (ngSubmit)="handleSubmit()">
    <h2>Shipping Details</h2>

    <mat-form-field appearance="outline">
        <mat-label>Select City</mat-label>
        <mat-select formControlName="city">
            <mat-option selected disabled (dblclick)="fillCityValue()">--Select city--</mat-option>
            <mat-option *ngFor="let city of _user.citiesArr" [value]='city.name'>{{city.name}}</mat-option>
        </mat-select>
        <mat-hint>Enter your city address</mat-hint>
        <mat-error *ngIf="orderForm.controls.city.errors?.required">City must be chosen</mat-error>

    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Street</mat-label>
        <input matInput placeholder="Enter your street address" formControlName="street" required
            (dblclick)="fillStreetValue()" />
        <mat-hint>Enter your street address</mat-hint>
        <mat-error *ngIf="orderForm.controls.street.errors?.required">Street must be provided</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Shipping Date</mat-label>
        <input matInput [min]="minDate" [matDatepicker]="dp3" [matDatepickerFilter]="occupiedDates"
            formControlName="shipping_date" />
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    </mat-form-field>

    <h2>Payments</h2>
    <mat-form-field appearance="outline">
        <mat-label>Credit Card</mat-label>
        <input matInput type="text" placeholder="Enter your last name" formControlName="credit_card" required />
        <mat-hint>Enter last 4 digits of credit card number</mat-hint>
        <mat-error *ngIf="orderForm.controls.credit_card.errors?.minlength">Too short...</mat-error>
        <mat-error *ngIf="orderForm.controls.credit_card.errors?.maxlength">Too longe...</mat-error>
        <mat-error *ngIf="orderForm.controls.credit_card.errors?.required">Credit card must be provided</mat-error>
        <mat-error *ngIf="orderForm.controls.credit_card.errors?.pattern">Only digits please</mat-error>
    </mat-form-field>

    <button mat-stroked-button color="warn" type="submit" [disabled]="!orderForm.valid">Finish</button>
</form>
