form{
    width: 100%;
    height: 60vh;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start; 
    background-color: rgba(248, 240, 166, 0.609);
    margin: 0%;
}

a, button{
    font-size: large;
    text-align: center;

}

p{
    font-size: large;
    text-align: center;
}

button{
    margin-top: 2%;
    margin-bottom: 2%;

}

h2{
    font-size: x-large;
    text-align: center;
    margin-top: 4%;
}

mat-form-field{
    width: 70%;
}

input:-webkit-autofill
{
    transition: 4000s; 
}

.errors{
    color: #fa570c
}

