
    
    <form [formGroup]="register1Form" (ngSubmit)="handleSubmit()">
        <h2>Sign-in - Step 1</h2>
        <p>All ready a costumer? <a mat-button color="warn" href="http://localhost:4200/welcome/login" (click)="_user.goToLogin()">Log in</a> </p>
        <mat-form-field appearance="outline">
            <mat-label>ID</mat-label>
            <input matInput placeholder="Enter your ID" formControlName="israeliID" required />
            <mat-hint>Enter valid id - 9 digits</mat-hint>
            <mat-error *ngIf="register1Form.controls.israeliID.dirty && register1Form.controls.israeliID.errors?.required">ID must be provided</mat-error>
            <mat-error *ngIf="register1Form.controls.israeliID.dirty && register1Form.controls.israeliID.errors?.minlength">Too short...</mat-error>
            <mat-error *ngIf="register1Form.controls.israeliID.dirty && register1Form.controls.israeliID.errors?.maxlength">Too longe...</mat-error>
            <mat-error *ngIf="register1Form.controls.israeliID.dirty && register1Form.controls.israeliID.errors?.israeliId">Please enter valid id</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email" formControlName="email" required />
            <mat-hint>Enter your email</mat-hint>
            <mat-error *ngIf="register1Form.controls.email.errors?.email">Not a valid email</mat-error>
            <mat-error *ngIf="register1Form.controls.email.errors?.required">Email must be provided</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter your password" formControlName="password"
            (change)="onPasswordInput()"
             required />
            <mat-hint>Chose password 4 character or more</mat-hint>
            <mat-error *ngIf="register1Form.controls.password.errors?.required">Password must be provided</mat-error>
            <mat-error *ngIf="register1Form.controls.password.errors?.minlength">Password be at least 4 characters
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password Confirm</mat-label>
            <input matInput type="password" placeholder="Enter your password" formControlName="passwordConfirm"
            (change)="onPasswordInput()"
                required />
            <mat-hint>Enter the same password again...</mat-hint>
            <mat-error *ngIf="register1Form.controls.passwordConfirm.errors?.required">Password confirm must be provided</mat-error>
            <mat-error *ngIf="passwordConfirm.invalid && !passwordConfirm.hasError('required')">Confirm password doesn't match the password, try again
            </mat-error>

        </mat-form-field>

        <button mat-stroked-button color="primary" type="submit" [disabled]="!register1Form.valid">Next</button>
    </form>
    <div class="errors">
        <p>{{serverError}}</p>
    </div>

